* {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(/images/pexels-rfstudio-3819572.jpg);
  background-size: 35%;
  background-repeat: no-repeat;
}

.lst-items {
  display: flex;

  justify-content: flex-end;

}
.lst-item {
  margin-left: 4rem;
  font-size: 1.5rem;
  color: grey;
}
.row {
  border-bottom: 2px solid grey;
  width: 20rem;
  height: 1rem;
}

/*... heading... */

.ttl-head {
  display: flex;
  justify-content: space-around;
  width: 55%;
  float: right;
}
.base-txt {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  margin-left: 10rem;
}

.head-1 {
  font-size: 6rem;
  color: grey;
  font-family: "Londrina Outline", cursive;
}

.head-2 {
  font-size: 7rem;
  color: black;
}

.ing {
  font-size: 3rem;
  color: grey;
}
.icons {
 
}
.icon {
  margin-top: 3rem;
}
.temp {
  margin-top: 6rem;
}
.pack-btn {
  padding: 1rem;
  width: 25rem;
  margin-top: 2rem;
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
}

.btm-sec {
  width: 60%;
  display: flex;

  float: right;
}

.items {
  left: 50rem;
  top: 8rem;
  width: 30rem;
}
.bundle{
  display: flex;
}
.crtv-itm {
  list-style-type: none;
  font-size: 1.5rem;
  width: 15rem;
  margin-left: 10px;
}
.circle {
  background-color: grey;
  padding: 10px;
  width: 1px;
  border-radius: 50%;
  top: 6rem;
  right: 3rem;
}
.circle-m {
  background-color: black;
  padding: 10px;
  width: 1px;
  border-radius: 50%;
  top: 6rem;
  right: 3rem;
}
.line {
  margin-left: 7px;
  border-left: 2px solid grey;
  height: 5rem;
}
.pck-itm {
  height: 5rem;
}
.pck-m-itm {
  height: 5rem;
}
.pck-m-itm li {
  color: black;
  font-weight: 800;
}
.pck-itm li {
  color: grey;
}
.card {
  left: 70rem;
  bottom: 12rem;
  width: 35rem;
}
.card h2 {
  width: 35rem;
  margin-bottom: 1rem;
}
.drama-img {
  width: 35rem;
}
