* {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url(/images/pexels-rfstudio-3819572.jpg);
  background-size: 35%;
  background-repeat: no-repeat;

  height: 50rem;
}

.lst-items {
  display: flex;
  float: right;
  width: 55%;
  justify-content: space-around;
}
.lst-item {
  font-size: 1.5rem;
  color: grey;
}
.row {
  border-bottom: 2px solid grey;
  width: 20rem;
  height: 1rem;
}

/*... heading... */

.ttl-head {
  display: flex;
  justify-content: end;
  width: 55%;
  float: right;
}
.base-txt {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  margin-left: 10rem;
  margin-top: 0px;
}

.head-1 {
  margin-bottom: 0px;
  font-size: 6rem;
  color: grey;
  font-family: "Londrina Outline", cursive;
}

.head-2 {
  margin-top: 0px;
  font-size: 7rem;
  color: black;
}

.ing {
  font-size: 3rem;
  color: grey;
}

.icon {
  margin-top: 3rem;
}
.temp {
}
.pack-btn {
  padding: 1rem;
  width: 25rem;
  margin-top: 2rem;
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
}

.btm-sec {
  width: 60%;
  display: flex;

  float: right;
}

.items {
  left: 50rem;
  top: 8rem;
  width: 30rem;
}
.bundle {
  display: flex;
}
.crtv-itm {
  list-style-type: none;
  font-size: 1.5rem;
  width: 15rem;
  margin-left: 10px;
}
.circle {
  background-color: grey;
  padding: 10px;
  width: 1px;
  border-radius: 50%;
  top: 6rem;
  right: 3rem;
}
.circle-m {
  background-color: black;
  padding: 10px;
  width: 1px;
  border-radius: 50%;
  top: 6rem;
  right: 3rem;
}
.line {
  margin-left: 8px;
  border-left: 2px solid grey;
  height: 5rem;
}
.pck-itm {
  height: 5rem;
}
.pck-m-itm {
  height: 5rem;
}
.pck-m-itm li {
  color: black;
  font-weight: 800;
}
.pck-itm li {
  color: grey;
}
.card {
  left: 70rem;
  bottom: 12rem;
  width: 35rem;
}
.card h2 {
  width: 35rem;
  margin-bottom: 1rem;
}
.drama-img {
  width: 35rem;
}

@media  screen  and (max-width: 1500px) {

  .head-1 {
    margin-bottom: 0px;
    font-size: 5rem;
    color: grey;
    font-family: "Londrina Outline", cursive;
  }
  
  .head-2 {
    margin-top: 0px;
    font-size: 4rem;
    color: black;
  }

  
}







@media screen and (max-width: 992px) {
  body {
    background-image: none;
    width: fit-content;
    margin-left: auto;

    margin-right: auto;
  }

  .ttl-head {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
  }

  .lst-items {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem;
  }

  .lst-item {
  }

  .row {
    display: none;
  }

  .btm-sec {
  
    width: 100%;
    height: max-content;
    display: flex;
    margin-top: 10rem;
    justify-content: space-around;
    align-items: center;
  }
  .items{

padding-left: 2rem;

  }

  .card h2{

    padding-right: 5rem;
  }

  .card img{

    padding-right: 2rem;
  }
  .icons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 3rem;

  }

  .head {
    padding-left: 3rem;
  }
}
