*{

   
    padding: 0px;
    margin: 0px ;
}

body{
    
    background-image: url(/images/pexels-rfstudio-3819572.jpg);
    width: 100%;

    background-size: 35%;
    background-repeat: no-repeat;


}
.main-img{

    width: 100%;
    border: 2px solid black;
}
.main-imgs{

    width: 35%;
    height: 100%;
}

.lst-items{
    list-style: none;
    position: relative;
    display: flex;
    float: right;
    width: 50rem;
    
    
   
}
.lst-item{
    list-style: none;
    margin-left: 6rem;
    font-size: 1.5rem;
}
.head{
    float: right;
    position: absolute;
    top: 9rem;
    left: 50rem;
}


.head-1{
    position: relative;
    right: 3rem;
    bottom: 3rem;
    font-size: 6rem;
    color: grey;
    font-family: 'Londrina Outline', cursive;
    margin-bottom: 0px;

}

.head-1 h1{

    margin-bottom: 0px;
}
.head-2{

    position: relative;
    margin-top: 0px;
    left: 9rem;
    bottom: 7rem;
    font-size: 7rem;
    color: black;

}
.head-2 h2{

    margin-bottom: 0px;
}
.ing{
    float: right;
    width: 8rem;
    font-size: 3rem;
    position: relative;
    left: 19rem;
    bottom: 15.5rem;
    color: grey;
}
.icons{

    position: relative;
   left: 112rem;
   top: 6rem;
  
}
.icon{
    margin-top: 3rem;
}
.pack-btn{

    position: relative;
    float: right;
    right: 6rem;
    top: 8rem;
    padding: 1rem;
    width: 25rem;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}
.items{

    position: relative;
    left: 50rem;
    top: 8rem;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 30rem;
    border: 2px solid black;
}

.crtv-itm{
list-style-type: none;
margin-bottom: 0px;
margin-top: 0px;
font-size: 1.5rem;
background-image: url(/images/icons8-black-circle-48.png) no-repeat center left ;
list-style-position: outside;
border: 2px solid black;
width: 15rem;


}
.circle{
    position: relative;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: black;
    padding: 8px;
    width: 1px;
    border-radius: 50%;
    top: 6rem;
    right: 3rem;
   
}
.line{
    position: relative;
   right: 3rem;
   top: 6rem;
    padding-left: 0px;
    background-color: black;
   
    border-left: solid black;
    width: 0px;
    height: 5rem;
}